/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--font-wl-card);
  font-variation-settings: "wght" var(--font-wl-card, 400);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto 100px;
  padding-top: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--accent-font);
  /* grid-template-rows: 2fr min-content 1fr; */
  align-items: center;
  border: 2px solid var(--border);
  /* margin-bottom: 100px; */
  /* height: min-content; */
  /* height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem); */
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  background-color: var(--background-color);
}

/* .header__window {
  display: grid;
  height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem); 
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  background-color: var(--background-window);
  text-align: center;
  font-family: var(--accent-font);
  grid-template-rows: 2fr min-content 1fr;
  align-items: flex-end;
  border: 2px solid var(--border);
}  */

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-decoration: none;
  cursor: none;
}

.header__title:focus-visible {
  outline: 2px solid var(--border);
  outline-offset: 5px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin-top: 20px;
}

/* .theme-menu {
} */

.header__theme-menu {
  margin-block: 20px 24px;
  margin-inline-start: clamp(1.25rem, -2.293rem + 15.117vw, 11.313rem);
}

.theme-menu__list {
  display: grid;
  gap: 11px;
  width: max-content;
  text-align: left;
}

/* .theme-menu__item {
} */

.theme-menu__button {
  position: relative;
  display: block;
  all: unset;
  text-transform: inherit;
  font-size: var(--font-size-main);
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  margin-inline-start: -20px;
  margin-block-start: 0;
  animation: arrow-moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::after {
  position: absolute;
  content: "";
  margin-inline-start: -20px;
  margin-block-start: 0;
  transition: arrow-moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  opacity: 60%;
  outline: none;
}

.theme-menu__button:focus-visible::backdrop {
  transition: scaleX(1);
}

/* main */

.main {
  display: grid;
  gap: 53px;
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  margin: 0 auto;
}

.card {
  display: grid;
  border: 2px solid var(--border);
  background-color: var(--background-color);
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__title {
  padding: 5px 11px;
  font-variation-settings: "wght" var(--wght-card-title);
  font-size: inherit;
  border-block-end: 2px solid var(--border);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.card__label {
  position: absolute;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  text-transform: uppercase;
  inset-block-start: clamp(1.438rem, 1.393rem + 0.188vw, 1.563rem);
  inset-inline-end: clamp(0.688rem, 0.3799rem + 1.3146vw, 1.563rem);
  opacity: 50%;
  font-size: var(--font-size-main);
  text-shadow:
    1px 0 0 var(--background-color),
    1px 0 0 var(--background-color),
    0 1px 0 var(--background-color),
    0 1px 0 var(--background-color),
    -1px 0 0 var(--background-color),
    -1px 0 0 var(--background-color),
    0 -1px 0 var(--background-color),
    0 -1px 0 var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__label {
    text-stroke: 1px #fff;
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.card__img_grayscale {
  filter: grayscale(70%);
}

.card__img_saturate {
  filter: saturate(300%);
}

.card__img_hue-rotate {
  filter: hue-rotate(31deg);
}

.card__img_invert {
  filter: invert(75%);
}

.card__img_sepia {
  filter: sepia(100%);
}

.card__img_blur {
  filter: blur(15px);
}

.card__img_multiple {
  filter: saturate(200%) hue-rotate(125deg) contrast(50%) blur(2px)
    brightness(120%);
}

.card__description {
  display: block;
  border: 2px solid var(--border);
}
.card__content {
  display: grid;
  gap: 27px;
  padding: 25px 23px;
  font-variation-settings: "wght" var(--wght-card-text);
}

.card__button {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
  margin-inline-end: 25px;
  /* max-block-size: 38px; */
  min-height: 38px;
}

.button {
  position: relative;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button:hover {
  cursor: pointer;
}

.button:not(.card_icon-button):focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button:not(.card_icon-button)::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform-origin: 0;
  inset-inline-start: 0;
  inset-block-end: 0;
  block-size: 100%;
  scale: 0 1;
  inline-size: 100%;
  color: var(--background-color);
}

.button:not(.card_icon-button):hover::after {
  scale: 1 1;
}

.card__like-button {
  border: 2px solid var(--border);
  padding: 12px 17px 9px;
  inline-size: 130px;
  /* block-size: 38px; */
  min-height: 38px;
}

.button__text {
  position: relative;
  display: block;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--font-wl-card);
  font-size: var(--font-size-main);
  line-height: 90%;
}

.card__icon-button {
  transition: border 0.3s ease;
  max-block-size: 38px;
}
.card__icon-button:focus-visible {
  border: 2px solid var(--border);
}

.like-icon {
  display: block;
}

.save {
  padding-block-end: clamp(6.375rem, 6.3088rem + 0.2824vw, 6.563rem);
  margin: 0 auto;
}

.save__button {
  display: grid;
  justify-items: center;
  border: 2px solid var(--accent-color);
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 15px 19px;
  background-color: var(--background-color);
}

.save__button-icon {
  display: block;
  position: relative;
  color: var(--accent-color);
  inline-size: 28px;
  block-size: 28px;
}

.dialog[open] {
  display: grid;
  gap: 28px;
  border: 2px solid var(--accent-color);
  padding: 31px 30px 28px;
  color: var(--accent-color);
  background-color: var(--background-color);
  max-inline-size: 357px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__button-icon {
  display: block;
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  border: 2px solid var(--accent-color);
  padding: 11px 17px;
  inline-size: 100%;
  text-transform: uppercase;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

@media (width >375px) {
  .save__button {
    display: flex;
    /* padding: 12px 15px; */
  }

  .dialog[open] {
    padding: 31px 40px 30px;
    max-inline-size: 341px;
  }

  /* .save__button-icon {
  inline-size: 28px;
  block-size: 28px;
  } */
}

