/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--font-wl-card);
  font-variation-settings: "wght" var(--font-wl-card, 400);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto 100px;
  padding-top: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--accent-font);
  /* grid-template-rows: 2fr min-content 1fr; */
  align-items: center;
  border: 2px solid var(--border);
  /* margin-bottom: 100px; */
  /* height: min-content; */
  /* height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem); */
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  background-color: var(--background-color);
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-decoration: none;
  cursor: none;
}

.header__title:focus-visible {
  outline: 2px solid var(--border);
  outline-offset: 5px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin-top: 20px;
}

/* .theme-menu {
} */

.header__theme-menu {
  margin-block: 25px;
  padding-left: clamp(9.625rem, 6.082rem + 15.117vw, 19.688rem);
  width: 100%;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  width: max-content;
  text-align: left;
}

.theme-menu__item {
  height: fit-content;
  display: flex;
}

.theme-menu__button {
  position: relative;
  display: block;
  /* all: unset; */
  text-transform: uppercase;
  font-size: var(--font-size-main);
  /* cursor: pointer; */
  background-color: transparent;
  padding: 0;
  border: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  left: -20px;
  top: 0;
  animation: arrow-moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::after {
  position: absolute;
  content: "";
  /* left: -20px;
  top: 0; */
  transition: arrow-moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  opacity: 60%;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  height: 2px;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: currentColor;
  opacity: 60%;
  bottom: -2px;
  transform-origin: left;
  transform: scaleX(0);
  transition:
    transform 0.5s,
    height 0.5s;
}

/* .theme-menu__button::after {
  /* text-decoration: underline;
  transition: width 0.3s ease-out;
  width: 0; 
  transform: scaleX(0);

  position: absolute;
  content: "";
  left: 0;
  display: block;
  width: 100%;
  bottom: -2px;
  opacity: 60%;
  background-color: currentColor;
  height: 1px;
  transform-origin: left;
  transition: transform 0.5s, height 0.5s;
} */

/* .theme-menu__button:focus::after  {
  width: 100%;
  transform: scaleX(1);
} */

/* main */

.main {
  display: grid;
  gap: 50px;
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  margin: 0 auto;
}

.card {
  display: grid;
  border: 2px solid var(--border);
  background-color: var(--background-color);
}

.card__wrapper {
  position: relative;
  /* overflow: hidden; */
}

.card__title {
  padding: 5px 10px;
  font-variation-settings: "wght" var(--wght-card-title);
  font-size: inherit;
  border-block-end: 2px solid var(--border);

  /* padding-left: 8px; */
  /* line-height: 22px; */

  /* margin-bottom: 7px; */
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  /* border: 1px solid var(--border); */
}

.card__label {
  position: absolute;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  text-transform: uppercase;
  inset-block-start: clamp(1.438rem, 1.393rem + 0.188vw, 1.563rem);
  inset-inline-end: clamp(0.688rem, 0.3799rem + 1.3146vw, 1.563rem);
  opacity: 50%;
  font-size: var(--font-size-main);
  text-shadow:
    1px 0 0 var(--background-color),
    1px 0 0 var(--background-color),
    0 1px 0 var(--background-color),
    0 1px 0 var(--background-color),
    -1px 0 0 var(--background-color),
    -1px 0 0 var(--background-color),
    0 -1px 0 var(--background-color),
    0 -1px 0 var(--background-color);

  text-transform: none;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__label {
    text-stroke: 1px #fff;
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.card__img_grayscale {
  filter: grayscale(70%);
}

.card__img_saturate {
  filter: saturate(300%);
}

.card__img_hue-rotate {
  filter: hue-rotate(31deg);
}

.card__img_invert {
  filter: invert(75%);
}

.card__img_sepia {
  filter: sepia(100%);
}

.card__img_blur {
  filter: blur(15px);
}

.card__img_multiple {
  filter: saturate(200%) hue-rotate(125deg) contrast(50%) blur(2px)
    brightness(120%);
}

.card__description {
  display: block;
  /* border: 2px solid var(--border); */

  border-block-start: 2px solid var(--border);
}

.card__content {
  display: grid;
  gap: 27px;
  /* padding: 16px 23px; */
  font-variation-settings: "wght" var(--wght-card-text);

  padding: 25px;
}

.card__button {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: end;
  /* margin-bottom: 20px; */
  margin-inline-end: 25px;
  /* max-block-size: 38px; */
  min-height: 38px;

  margin-bottom: 25px;
}

/* .button {
  position: relative;
  outline: none;
  /* border: 2px solid transparent; 
  padding: 0;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  /* overflow: hidden;
}
/* 
.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
} */

.button__animation {
  position: relative;
  border: 2px solid var(--background-color);
  padding: 0;
  background-color: transparent;
  box-shadow: transparent;
  transition:
    box-shadow 0.3s ease,
    background-color 0.5s ease-in-out;
  /* transition: background-color 0.5s ease-in-out; */
}

.button__animation:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button__animation:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button__animation:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

.button__animation::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform-origin: 0;
  inset-inline-start: 0;
  inset-block-end: 0;
  block-size: 100%;
  scale: 0 1;
  inline-size: 100%;
  color: var(--background-color);
}

.button__animation:hover::after {
  scale: 1 1;
}
/* .button:not(.card_icon-button):focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button:not(.card_icon-button)::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform-origin: 0;
  inset-inline-start: 0;
  inset-block-end: 0;
  block-size: 100%;
  scale: 0 1;
  inline-size: 100%;
  color: var(--background-color);
}

.button:not(.card_icon-button):hover::after {
  scale: 1 1;
} */

.card__like-button {
  border: 2px solid var(--border);
  padding: 12px 17px 9px;
  inline-size: 130px;
  /* block-size: 38px; */
  min-height: 38px;
}

.button__text {
  position: relative;
  display: block;
  color: var(--button-text);
  font-family: var(--accent-font);
  font-weight: var(--font-wl-card);
  font-size: var(--font-size-main);
  line-height: 90%;

  z-index: 10;
  mix-blend-mode: difference;
  transition: color 0.3s ease;
}

/* .button__text {

}

.button__text:hover {
  color: var(--background-color);
} */

.card__icon-button {
  transition: border 0.3s ease;
  max-block-size: 38px;
  background-color: transparent;

  padding: 0;
  border: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--border);
}

.like-icon {
  display: block;
}

.save {
  padding-block-end: clamp(6.375rem, 6.3088rem + 0.2824vw, 6.563rem);
  margin: 0 auto;
}

.save__button {
  display: grid;
  justify-items: center;
  border: 2px solid var(--accent-color);
  align-items: center;
  gap: 8px;
  margin: auto;
  padding: 15px 19px;
  background-color: var(--background-color);
}

.save__button-icon {
  display: block;
  position: relative;
  color: var(--background-color);
  inline-size: 28px;
  block-size: 28px;

  transition: color 0.3s ease;
  z-index: 10;
  mix-blend-mode: difference;
}

.dialog[open] {
  display: grid;
  gap: 28px;
  border: 2px solid var(--accent-color);
  padding: 31px 30px 28px;
  color: var(--accent-color);
  background-color: var(--background-color);
  max-inline-size: 357px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__button-icon {
  display: block;
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  border: 2px solid var(--accent-color);
  padding: 11px 17px;
  inline-size: 100%;
  text-transform: uppercase;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

@media (width >=375px) {
  .save__button {
    display: flex;
    padding: 12px 20px;
  }

  .dialog[open] {
    padding: 31px 40px 30px;
    max-inline-size: 341px;
  }

  .save__button-icon {
    width: 21px;
    height: 27px;
  }
}
