/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: "Inter-Variable", sans-serif;
    --accent-font: "PressStart2P", sans-serif;
    --font-wl-card: 400;
    --font-wb-card: 700;
    --font-color: #000;
    --background-color: #fff;
    --background-gradient: 
    repeating-linear-gradient(to left, transparent 0 2px, #d3d3d3 2px 4px),
    repeating-linear-gradient(to top, transparent 0 2px, #d3d3d3 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --border: #000;
}